

  <div class="row">
    <div class="col-sm-12">
      <h1>Survey Pop User Dashboard</h1>
      <h2>Find Out What Your Customers Are Thinking</h2>
      <p>Log In - Register</p>
      <p>Your Business Name: <input type="text" name="businessName" ng-model="theBusinessName"></input> <button class="btn btn-sm btn-primary" ng-click="changeBusiness()">Edit</button></p>

      <p>Add Question: <input type="text" name="question1" ng-model="addQuestion"></input> <button class="btn btn-sm btn-primary" ng-click="submitQuestion()">Add Question</button></p>
      <h2>Current Survey Questions</h2>
      <h3>Question 1: Tell us a general description of your experience. <input type="text" name="businessName" ng-model="currentQuestion"></input> <button class="btn btn-sm btn-primary" >Edit Question</button></h3>
      <ul ng-repeat="answer in surveyAnswers">
        <li>{{answer.question1}}</li>
      </ul>

      <h3>Question 2: How was your interactions with our staff? <input type="text" name="businessName" ng-model="currentQuestion"></input> <button class="btn btn-sm btn-primary" >Edit Question</button></h3>
      <ul ng-repeat="answer in surveyAnswers">
        <li>{{answer.question2}}</li>
      </ul>

      <h3>Question 3: What do you not like about living here? <input type="text" name="businessName" ng-model="currentQuestion"></input> <button class="btn btn-sm btn-primary" >Edit Question</button></h3> 
      <p></p>
      <ul ng-repeat="answer in surveyAnswers">
        <li>{{answer.question3}}</li>
      </ul>

      <h3>Question 4: What do you <strong>dislike</strong> about living here? <input type="text" name="businessName" ng-model="currentQuestion"></input> <button class="btn btn-sm btn-primary" >Edit Question</button></h3>
      <ul ng-repeat="answer in surveyAnswers">
        <li>{{answer.question4}}</li>
      </ul>


      <h3>Google Places Rating: {{places.result.rating}}</h3>
      <h3><strong>Latest Google Reviews:</strong></h3> 
      <div class="panel panel-info">
        <div class="panel-body">
          Review
        </div>
        <div class="panel-footer"><p>{{places.result.reviews[0].text}} <strong>{{places.result.reviews[0].rating}} Stars</strong></p></div>
      </div>

      <div class="panel panel-info">
        <div class="panel-body">
          Review
        </div>
        <div class="panel-footer"><p>{{places.result.reviews[1].text}} <strong>{{places.result.reviews[1].rating}} Stars</strong></p></div>
      </div>

      <div class="panel panel-info">
        <div class="panel-body">
          Review
        </div>
        <div class="panel-footer"><p>{{places.result.reviews[2].text}} <strong>{{places.result.reviews[2].rating}} Stars</strong></p></div>
      </div>

      <div class="panel panel-info">
        <div class="panel-body">
          Review
        </div>
        <div class="panel-footer"><p>{{places.result.reviews[3].text}} <strong>{{places.result.reviews[3].rating}} Stars</strong></p></div>
      </div>

      <div class="panel panel-info">
        <div class="panel-body">
          Review
        </div>
        <div class="panel-footer"><p>{{places.result.reviews[4].text}} <strong>{{places.result.reviews[4].rating}} Stars</strong></p></div>
      </div>

      

      

    </div>


  </div>

