


<div class="jumbotron head-banner">
  <h1>Survey Pop</h1>
  <h2>Find Out What Your Customers Are Thinking</h2>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

  <div class="row">
    <div class="col-sm-12">    

      <!-- Log in panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Log In</h3>
        </div>
        <div class="panel-body">
          <form>
            <p>Email: <input type="text" ng-model="loginEmail" placeholder="email"></input> Password: <input type="text" ng-model="loginPassword" placeholder="password"></input> <input type="submit" id="submit" value="Submit" /></input> </p> 
          </form>
        </div>
      </div>


      <!-- Create account panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create a Manager Account</h3>
        </div>
        <div class="panel-body">
          <form ng-submit="createUser()">
            <p>Enter your email:</p>
            <input type="text" ng-model="userEmail" placeholder="email"></input>
            <p>Enter a new password</p>
            <input type="text" ng-model="userPassword" placeholder="password"></input><br>
            <input type="submit" id="submit" value="Submit" /></input>
          </form>
        </div>
      </div>
      

      <p><a href="#/dashboard">View the User Dashboard</a></p>
      <p><a href="#/review">View the Survey</a></p>
      
      <p>Survey Pop allows you to easily collect feedback from your customers.</p>
      <ul>
        <li>1. Give your customers a card with the survey code.</li>
        <li>2. Customers go to the URL on the card to fill out the survey.</li>
        <li>3. A gift card is automatically mailed to the customer.</li>
        <li>4. Review your customer's feedback in the user dashboard.</li>
      </ul>

      <p>Pricing</p>
      <ul>
        <li>$20/month - 10 surveys per month</li>
        <li>$30/month - 20 surveys per month</li>
        <li>$40/month - 100 surveys per month</li>
      </ul>

    </div>


  </div>

</div>


<!--
<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Weather for {{current.name}}</h1>
  <p class="lead">
    <div ng-init="location='Seattle'">
        <p>
          <label for="location">Location:
            <input type="text" name="location" ng-model="location">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Get Current Weather</button>
        </p>
      <dl>
        <dt>Currently</dt>
        <dd>{{current.weather[0].main}}</dd>
        <dd>{{current.weather[0].description}}</dd>
        <dt>Temperature</dt>
        <dd>{{current.main.temp}}</dd>
        <dt>Wind</dt>
        <dd>{{current.wind.speed}} mph at {{current.wind.deg}} degrees</dd>
        <dt>Clouds</dt>
        <dd>{{current.clouds.all}}%</dd>
      </dl>
    </div>
  </p>
</div>
-->

<!--
<div class="jumbotron">
  <h1>Simple Customer Survey Software</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
