<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>Survey Pop</h1>
      <h2>Find Out What Your Customers Are Thinking</h2>
      <p>Log In - Register</p>

      <p><a href="#/dashboard">View the User Dashboard</a></p>

      <p><a type="button" class="btn btn-primary btn-lg" href="#/review">View the Survey</a></p>
      
      <p>Survey Pop allows you to easily collect feedback from your customers.</p>
      <ul>
        <li>1. Give your customers a card with the survey code.</li>
        <li>2. Customers go to the URL on the card to fill out the survey.</li>
        <li>3. A gift card is automatically mailed to the customer.</li>
        <li>4. Review your customer's feedback in the user dashboard.</li>
      </ul>

      <p>Pricing</p>
      <ul>
        <li>$20/month - 10 surveys per month</li>
        <li>$30/month - 20 surveys per month</li>
        <li>$40/month - 100 surveys per month</li>
      </ul>

    </div>


  </div>

</div>