


<div class="jumbotron head-banner">
  <h1>Survey Pop</h1>
  <h2>Find Out What Your Customers Are Thinking</h2>
  <a class="btn btn-primary btn-lg" href="#/review" role="button">Take the Survey</a>
</div>

  <div class="row">
    <div class="col-sm-12"> 
      <p>Test logins</p>
      <p>csipe84@gmail.com popcorn84 Signature Pointe, Survey URL: http://localhost:9000/#/review</p> 
      <p>sipec@seattleu.edu popcorn84 The Retreat, Survey URL: http://localhost:9000/#/retreatsurvey</p> 
      <p>csipe84@yahoo.com popcorn84 Cambridge Apartments, Survey URL: http://localhost:9000/#/cambridgesurvey</p>   
      
      <h2>Survey Pop allows you to easily collect feedback from your customers.</h2>
      <ul>
        <li>1. Place door signs on resident's doors to request a survey.</li>
        <li>2. Customers go to the URL on the card to fill out the survey.</li>
        <li>3. A gift card is automatically mailed to the customer.</li>
        <li>4. Review your customer's feedback in the user dashboard.</li>
      </ul>

      <h2>Pricing</h2>
      <ul>
        <li>Prepay $10/per approved survey (includes $5 gift card automatically mailed to participant).</li>
        <li>10% discount for 100 surveys, 20% discount for 500 surveys, 30% discount for 1000 surveys.</li>
        <a class="btn btn-success btn-lg" href="#/checkout" role="button">Buy Now</a>
      </ul>

      <p><a href="#/dashboard">View the User Dashboard</a></p>
      <p><a href="#/review">View the Survey</a></p>


    </div>


  </div>

</div>


<!--
<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Weather for {{current.name}}</h1>
  <p class="lead">
    <div ng-init="location='Seattle'">
        <p>
          <label for="location">Location:
            <input type="text" name="location" ng-model="location">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Get Current Weather</button>
        </p>
      <dl>
        <dt>Currently</dt>
        <dd>{{current.weather[0].main}}</dd>
        <dd>{{current.weather[0].description}}</dd>
        <dt>Temperature</dt>
        <dd>{{current.main.temp}}</dd>
        <dt>Wind</dt>
        <dd>{{current.wind.speed}} mph at {{current.wind.deg}} degrees</dd>
        <dt>Clouds</dt>
        <dd>{{current.clouds.all}}%</dd>
      </dl>
    </div>
  </p>
</div>
-->

<!--
<div class="jumbotron">
  <h1>Simple Customer Survey Software</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
