

<h2>Complete the Survey Questions</h2>

  <p>First Name <input type="text" label="First name" name="firstName" ng-model="firstName"></input></p>
  <p>Last Name <input type="text" label="Last name" name="firstName" ng-model="lastName"></input></p>

  <p>Question 1: Tell us a general description of your experience.</p> 
  <input type="text" class="form-control" placeholder="question 1" aria-describedby="basic-addon1"></input>

  <p>Question 2: How was your interactions with our staff? </p> 
  <input type="text" class="form-control" placeholder="question 2" aria-describedby="basic-addon1"></input>

  <p>Question 3: What do you not like about living here?</p> 
  <input type="text" class="form-control" placeholder="question 3" aria-describedby="basic-addon1"></input>

  <button class="btn btn-sm btn-primary" >Submit Responses</button>
